= form_for @band do |f|
  - if @band.errors.any?
    #error_explanation
      %h2= "#{pluralize(@band.errors.count, "erro")} impediu a criação desta banda:"
      %ul
        - @band.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Nome"
    = f.text_field :name
  .field
    = f.label "Categoria"
    = f.text_field :category
  .actions
    = f.submit 'Salvar'
