%h1 Shows de #{@band.name}

%table.table.table-striped
  %tr
    %th Banda
    %th Local
    %th Data
    //%th Description
    %th
    //%th
    //%th

  - @shows.each do |show|
    %tr
      %td= link_to show.band.name, band_path(show.band_id)
      %td= show.local
      %td= show.date.strftime("%d/%m/%Y às %H:%M")
      //%td= show.description
      %td= link_to 'Detalhes', show
      //%td= link_to 'Edit', edit_show_path(show)
      //%td= link_to 'Destroy', show, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br