%h1 Bandas

%table.table.table-striped
  %tr
    %th Nome
    %th Categoria
    %th
    //%th
    //%th

  - @bands.each do |band|
    %tr
      %td= band.name
      %td= band.category
      %td= link_to 'Todos os Shows', all_shows_path(band)
      //%td= link_to 'Edit', edit_band_path(band)
      //%td= link_to 'Destroy', band, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Criar Banda', new_band_path, class: "btn btn-lg btn-primary"
