= form_for @show do |f|
  - if @show.errors.any?
    #error_explanation
      %h2= "#{pluralize(@show.errors.count, "erro")} impediu a criação deste show:"
      %ul
        - @show.errors.full_messages.each do |msg|
          %li= msg

  .field
    = f.label "Banda"
    = select("show", "band_id", @bands.collect {|b| [ b.name, b.id ] }, { include_blank: true })
  .field
    = f.label "Local"
    = f.text_field :local
  .field
    = f.label "Data"
    = f.text_field :date, as: :string, label: false, class: 'datetimepicker-control'
    :plain
      <script>initDatetimepicker();</script>
  .field
    = f.label "Descrição"
    = f.text_field :description
  .actions
    = f.submit 'Salvar'
