%h1 Veja um show

%section#entry-content
  .navigate
    .change_view
      = link_to "Próximos 30 dias", shows_path
    .change_view
      = link_to "Todos", shows_path(s: "all")

  :javascript
    var loc = window.location.pathname + location.search;
    $('.navigate').find('div').each(function() {
      if ($(this).find('a').attr('href') == loc) {
        $(this).addClass('selected');
      }
    });

= form_tag("/shows", method: "get") do
  = label_tag(:band_id, "Banda:")
  = select_tag(:band_id, options_from_collection_for_select(@bands, "id", "name"), include_blank: true)
  = label_tag(:local, "Localização")
  = text_field_tag(:local)
  = hidden_field_tag('s', params[:s])
  = submit_tag("Pesquisa")

%table.table.table-striped
  %tr
    %th Banda
    %th Local
    %th Data
    //%th Description
    %th
    //%th
    //%th

  - @shows.each do |show|
    %tr
      %td= link_to show.band.name, band_path(show.band_id)
      %td= show.local
      %td= show.date.strftime("%d/%m/%Y às %H:%M")
      //%td= show.description
      %td= link_to 'Detalhes', show
      //%td= link_to 'Edit', edit_show_path(show)
      //%td= link_to 'Destroy', show, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'Criar Show', new_show_path, class: "btn btn-lg btn-primary"
