%p#notice= notice

%h1
  = "Show de #{@show.band.name}"

%p
  %b Banda:
  = link_to @show.band.name, band_path(@show.band_id)
%p
  %b Local:
  = @show.local
%p
  %b Data:
  = @show.date.strftime("%d/%m/%Y às %H:%M")
%p
  %b Descrição:
  = @show.description

//= link_to 'Edit', edit_show_path(@show)
//\|
= link_to 'Voltar', shows_path
