!!!
%html
  %head
    %title= full_title(yield(:title))
    = stylesheet_link_tag 'application', media: 'all', |
      'data-turbolinks-track' => true                  |
    = javascript_include_tag 'application', 'data-turbolinks-track' => true
    = csrf_meta_tags
  %body
    %header.navbar.navbar-fixed-top.navbar-inverse
      .container
        = link_to "Rod's NetShow.you", root_path, id: "logo"
        %nav
          %ul.nav.navbar-nav.navbar-right
            %li= link_to "Shows", shows_path
            %li= link_to "Bandas", bands_path
    .container
      = yield
      = render 'layouts/footer'